@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(90, 99, 178);
}

.header {
    display: flex;
    flex-direction: row;
    background-color: rgba(47, 47, 47, 0.38);
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.headerinfo {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    margin-right: 5vh;
}

.address {
    background-color: rgb(28, 21, 62);
    width: fit-content;
    padding: 10px;
    border: solid 2px rgb(128, 128, 176);
    border-radius: 15px;
}

.img img {
    width: 50vh;
    height: 35vh;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.info p {
    padding-left: 5vh;
    padding-right: 5vh;
}